body {
  background-color: #F5F5F5 !important;
  text-align: center;
  margin: 0;
  padding: 0;
}

#allertMessage{
  margin-bottom: auto;
  font-size:30px;
  text-align: center;
}

#add{
  width:100px;
  height:auto
}

.header {
  background-color: #f78501;
  padding: 30px 400px;
  color: white;
  text-align: center;
  margin: 0;
  padding: auto;
  }


.container-fluid {
  background-color: #f78501;
  padding: 30px 400px;
  color: white;
  text-align: center;
 }

img {
  background-color: white;
}

.head-to-do {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
}

.head-completed {
  background-color: #1e90ff;
  padding: 5px;
  text-align: center;
}


